table tr th, table tr td{
    border: 0.1rem solid black;
    padding: 0.5rem;
}

table {
    border-collapse: collapse;
    margin-bottom: 1rem;
}

form input {
    margin-bottom: 0.5rem;
}

section{
    height: 100vh;
}





